@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

:root {
    --clr-blck: #000000;
    --clr-blue: #14213d;
    --light-blue: rgb(165, 165, 197);
    --lighter-blue: #475c86;
    --clr-orange: #fca311;
    --clr-light-gry: #c5c7dd;
    --clr-white: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Cabin Sketch', serif, cursive;
    background-color: var(--clr-blue);
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    font-size: 2rem;
}

a,
label,
h1,
h2 {
    color: var(--clr-orange);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.9);
    inset: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    display: none;
}

.show {
    display: block;
}

.menu-container {
    background-color: var(--clr-blue);
    display: flex;
    flex-direction: column;
    min-height: 300px;
    width: 500px;
    text-align: center;
    position: relative;
    padding: 30px;
}

.menu-container > p {
    font-size: 1.5rem;
    color: var(--clr-orange);
    padding: 1rem;
}

.marker-picker {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.marker-picker button {
    width: 30%;
    padding: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    font-weight: bold;
    color: var(--clr-blue);
    border: none;
    cursor: pointer;
    background-color: var(--clr-light-gry);
}

.marker-picker button:hover {
    border: none;
    background-color: var(--clr-orange);
    color: var(--clr-blue);
}

/* .menu-container label {
    font-size: 1.9rem;
    padding: 1rem;
}

.menu-container select {
    text-align: center;
    padding: .8rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--clr-blue);
    background-color: var(--clr-light-gry);
    border: none;
    cursor: pointer;
}

.menu-container select:hover {
    background-color: var(--clr-orange);
} */

body .container {
    margin-top: 1rem;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(3, auto);
    background-color: var(--clr-light-gry);
}

.container > .card {
    background-color: var(--clr-blue);
    padding: 1rem;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    font-size: calc(150px * .8);
    color: var(--clr-orange);
}

.pointer {
    cursor: pointer;
}

.not-allowed {
    cursor: not-allowed;
}

.container > .card:hover {
    background: linear-gradient(var(--clr-blue), var(--lighter-blue), var(--light-blue));
}

.turn {
    font-size: 3rem;
    padding: 1rem;
}

button.reset {
    margin-top: 20px;
    padding: .3rem;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Cabin sketch', cursive;
    width: 180px;
    border: none;
    border-radius: 30px;
}

button.reset:hover {
    background-color: var(--clr-orange);
    border: none;
    cursor: pointer;
}